<!DOCTYPE html>
<html>

<head>
    <title>
        <%= status %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= status %>
    </h1>
    <p>Uploaded name is
        <%= name %>
    </p>
</body>

</html>